

/////////// CSS DIRECTORY /////////////
// 1a. Color Theme Variables
// 2a. Imports
// 3a. Universal Styles
// 4a. Mobile Responsive Styles
//


// 1a. Color Theme Variables
$themeDarkAqua: #1a535c;
$themeLightAqua: #4ecdc4;
$themeWhite: #f7fff7;
$themeRed: #ff6b6b;
$themeOj: #ff914d;
$themeYellow: #ffe66d;
$fontGray: #404040;

// 2a. Imports
// Hamburger CSS

$hamburger-layer-color: $themeWhite !default;
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

// 3a. Universal Styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

// Font - Fira 300,400,500,700
h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

////////// 4a. MOBILE RESPONSIVE STYLES ////////////

// Navbar
header {
    background: $themeOj;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $themeOj;
    opacity: .95;
}

.main-nav, .hero-section {
    padding: .5rem;
    text-align: center;
}

.nav-logo {
    display: flex;
    flex-direction: column;
}

.nav-logo img {
    width: 25px;
}

.logo-link {
    color: $themeWhite;
    text-transform: uppercase;
    font-family: 'Crushed', cursive;
    font-size: 1.2rem;
}

.hamburger {
    padding: .5rem;
}

.hamburger-inner::before,
.hamburger-inner,
.hamburger-inner::after {
    width: 30px;
}

.hamburger-box {
    width: 30px;
    height: 18px;
}

.nav-flex-container {
    display: none;
    flex-direction: column;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: $themeWhite;
    font-size: 1rem;
    padding: 5px 0;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    background: $themeRed;
}




// Multiple Section Styles
.hero-container,
.what-container,
.choose-container,
.meet-container,
.testimonial-container,
.quote-container,
.footer-container {
    padding: 3% 10%;
}

.what-content,
.choose-content,
.meet-content,
.testimonial-content,
.quote-content {
    text-align: center;
}

.what-content-h1,
.choose-content-h1,
.meet-content-h1,
.testimonial-content-h1,
.quote-content-h1 {
    color: $themeRed;
}

.what-content-h3,
.choose-content-h3,
.meet-content-h3 {
    font-weight: 500;
}

.what-content-h2,
.what-content-h3,
.what-content-p,
.choose-content-h3,
.meet-content-h3,
.meet-content-p,
.quote-content-p {
    color: $fontGray;
}

// Dividers

.rocket,
.divider,
.divider-2 {
    display: block;
    width: 95%;
    z-index: 5;
    padding: 0 10%;
    margin: 0 auto;
}

.divider {
    margin-bottom: -10px;
}

.divider-2 {
    margin-top: -10px;
}

// Hero Section

.hero-content-h1, 
.hero-content-p {
    margin: 0 3rem;
}

.hero-content-h1 {
    color: $themeDarkAqua;
    padding-top: 1rem;
}

.hero-content-p {
    padding-top: 1rem;
}


.hero-logo,
.hero-spaceman,
.hero-spacemail {
    display: none;
}

.hero-mobile {
    width: 80%;
}

.btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    display: inline-block;
    margin: 2rem .5rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
}

.red {
    background-color: #f13f3f;
    color: $themeWhite;
    transition: all 0.3s ease-in-out;
}

.red:hover {
    background-color: #922424;
}

.yellow {
    background-color: $themeYellow;
    color: #404040;
    transition: all 0.5s ease-in-out;
}

.yellow:hover {
    background-color: #a89745;
    color: $themeWhite;
}



// What We Do Section

.what-content-h2 {
    margin-top: -1.5rem;
}


.what-content-p {
    margin: 1% 25%;
}

.jobs-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brown {
    background: #ffd9c2;
}

.light-blue {
    background: #b2fffa;
}

.light-red {
    background: #ffcaca;
}

.jobs-box {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px auto;
    border-radius: 50% / 10%;
    color: $themeWhite;
    text-align: center;
    text-indent: .1em;
    z-index: -1;
  }

  .jobs-box:before {
    content: '';
    position: absolute;
    top: 9%;
    bottom: 9%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
    z-index: -1;
  }

.jobs-img {
    margin-top: 1rem;
    width: 200px;
}

// What We Do

.choose-section {
    background-color: $themeYellow;
}

.choose-flex {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.checkmark {
    width: 25px;
    margin-bottom: -5px; 
}

.choose-content-p {
    padding: .5rem 0;
}


// Meet Me Section

.meet-content-pic {
    width: 150px;
    border-radius: 50%;
}

.meet-content-h3 {
    padding: .5rem 0;
}

.dark-aqua {
    background-color: $themeDarkAqua;
    color: $themeWhite;
    transition: all 0.3s ease-in-out;
}

.dark-aqua:hover {
    background-color: $themeLightAqua;
    color: $fontGray;
}

// Testimonial Section


.testimonial-section {
    background-color: $themeRed;
    position: relative;
    z-index: -5;
}

.quote1 {
    width: 10%;
    left: 5px;
    bottom: 60%;
    position: absolute;
}

.quote2 {
    width: 10%;
    right: 5px;
    bottom: 15%;
    position: absolute;
}

.testimonial-content,
.testimonial-content-h1 {
    color: $themeWhite;
}

.testimonial-content-h2 {
    font-family: 'Yellowtail', cursive;
    padding-top: .5rem;
    font-weight: 400;
}

// Quote Section

.quote-form-color,
.newsletter-form-color {
    border-radius: 5px;
    padding: .5rem;
    background-color: #b2fffa;
    border: 3px solid #4ecdc4;
    font-size: .9rem;
}

.quote-form-color:focus,
.newsletter-form-color:focus {
    border-color: $themeRed;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.quote-form-button {
      border: none;
  }


.quote-form {
    margin-top: 2rem;
}

.input-1,
.input-2,
.textarea-1 {
    margin: 0 .25rem .25rem .25rem;
    width: 100%;
}

.quote-form-button {
    font-weight: 800;
    cursor: pointer;
}

// Footer Section

.footer-section {
    background-color: $themeDarkAqua;
}

.display-none {
    display: none;
}

.footer-content-flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content-h2,
.footer-content-h4,
.footer-content-link,
.fas {
    color: $themeWhite;
}

.footer-content-link {
    margin: .5rem auto;
}

.footer-content-h2 {
    font-family: 'Crushed', cursive;
    font-weight: 400;
}

.footer-break {
    display: block;
    color: $themeWhite;
    border-style: inset;
    border-width: 1px;
    width: 50%;
    margin: .25rem auto;
}

.footer-logo {
    width: 30px;
    margin: .5rem auto;
}

.footer-content-social {
    margin-top: .5rem;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin {
    width: 10px;
    padding-left: .4rem;
}

.fa-square {
    width: 25px;
    padding: 0;
    margin: 0;
}

.footer-icon-link {
    display: inline-block;
}

.icon-color {
    color: $themeRed;
    transition: .5s all ease-in-out;
}

.icon-color:hover {
    color: $themeLightAqua;
    
}

.footer-copyright {
    padding-top: .5rem;
    text-align: center;
    color: $themeWhite;
}

@media screen and (min-width: 600px) {

    // Multiple Classes
    .hero-container,
    .what-container,
    .choose-container,
    .meet-container,
    .testimonial-container,
    .quote-container,
    .footer-container {
        padding: 3% 15%;
    }

    // Navbar Section

    .hamburger-container {
        display: none;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    .nav-logo {
        flex-direction: row;
        justify-content: center;
        padding-top: .25rem;
    }

    .nav-logo img {
        width: 35px;
        margin: 0 .5rem;
    }

    .nav-flex-container {
        flex-direction: row;
        justify-content: center;
    }

    .nav-link {
        padding: .75rem 1rem;
        font-size: 1rem;
    }

    .logo-link {
        font-size: 1.5rem;
        padding-top: .25rem;
    }
}

@media screen and (min-width: 768px) {

    // Multiple Classes
    .hero-container,
    .what-container,
    .choose-container,
    .meet-container,
    .testimonial-container,
    .quote-container,
    .footer-container {
        padding: 3% 5%;
    }

    .what-content-h3,
    .choose-content-h3,
    .meet-content-p,
    .testimonial-content-p,
    .quote-content-p {
        padding: 1% 20%;
    }


    // Hero Section 768px

    .hero-mobile {
        display: none;
    }

    .hero-spacemail,
    .hero-spaceman {
        display: inline;
        position: absolute;
        bottom: 35%;
    }

    .hero-spacemail {
        left: 12%;
        width: 14%;
    }

    .hero-spaceman {
        right: 12%;
        width: 14%;
    }


    .hero-content {
        background-image: url(../../public/assets/img/Hero_Background.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        height: 300px;
        padding-top: 3rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 18rem;
        position: relative;
    }

    .hero-content-h1 {
        padding: 0 15%;
    }

    .hero-content-p {
        padding: 1% 13%;
    }

    .btn {
        margin: .5rem;
        padding: .75rem 1rem;
    }

    // What We Do Section 768px
    .what-content-h2 {
        margin-top: -1.1rem;
        font-size: 1rem;
    }
    
    
    .what-content-p {
        margin: 1% 20%;
        font-size: .8rem;
    }


    .jobs-flex {
        flex-direction: row;
    }

    .jobs-box {
        position: relative;
        width: 200px;
        height: 250px;
        margin: 20px auto;
        border-radius: 50% / 10%;
        color: $themeWhite;
        text-align: center;
        text-indent: .1em;
        z-index: -1;
      }
      
      .jobs-box:before {
        content: '';
        position: absolute;
        top: 9%;
        bottom: 9%;
        right: -5%;
        left: -5%;
        background: inherit;
        border-radius: 5% / 50%;
        z-index: -1;
      }
    
    .jobs-img {
        margin-top: 1rem;
        width: 100px;
    }

    // Testimonial Section 768px
    .quote1 {
        width: 5%;
        left: 15%;
        bottom: 60%;
    }
    
    .quote2 {
        width: 5%;
        right: 15%;
        bottom: 15%;
    }

    // Quote Section 768px
    .quote-form {
        padding: 1% 20%;
        margin-top: 1rem;
    }

    .form-inputs {
        display: flex;
        flex-direction: row;
    }

    .input-1, 
    .input-2,
    .textarea-1  {
        margin: .25rem;
    }

    .textarea-1 {
        width: 98.7%;
    }

    // Footer Section 768px
    .display-none {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-content-flexbox {
        justify-content: flex-start;
    }

    .footer-content-link {
        padding: 0;
        margin: 0;
    }

    .footer-logo-text {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }

    .footer-content-h2 {
        padding-top: .1rem;
        padding-left: .25rem;
    }

    .footer-logo-img {
        width: 30px;
    }

    .footer-break {
        margin: .5rem 0;
    }

    .footer-copyright {
        padding-top: 2rem;
    }

    .newsletter-form {
        padding-top: .25rem;
    }

    .form-inputs-footer {
        display: flex;
        flex-direction: column;
    }

    .newsletter-form-color {
        padding: .3rem .5rem;
    }

}

@media screen and (min-width: 980px) {

    .hero-content-h1 {
        padding: 0 15%;
        padding-top: 2rem;
    }

    .hero-content-p {
        padding: 1% 20%;
    }
    
    .hero-spacemail,
    .hero-spaceman {
        bottom: 15%;
    }

    .hero-spacemail {
        left: 15%;
        width: 14%;
    }

    .hero-spaceman {
        right: 15%;
        width: 14%;
    }

    .jobs-box {
    position: relative;
    width: 225px;
    height: 275px;
    margin: 20px auto;
    border-radius: 50% / 10%;
    color: $themeWhite;
    text-align: center;
    text-indent: .1em;
    z-index: -1;
  }

  .jobs-box:before {
    content: '';
    position: absolute;
    top: 9%;
    bottom: 9%;
    right: -5%;
    left: -5%;
    background: inherit;
    border-radius: 5% / 50%;
    z-index: -1;
  }

.jobs-img {
    margin-top: 1rem;
    width: 150px;
}

}

@media screen and (min-width: 1061px) {
    .divider {
        margin-bottom: -15px;
    }
    
    .divider-2 {
        margin-top: -15px;
    }
}

@media screen and (min-width: 1238px) {
    
    .hero-container,
    .what-container,
    .choose-container,
    .meet-container,
    .testimonial-container,
    .quote-container,
    .footer-container,
    .rocket,
    .divider,
    .divider-2 {
        max-width: 1368px;
        margin: 0 auto;
    }

    .divider {
        margin-bottom: -15px;
    }
    
    .divider-2 {
        margin-top: -15px;
    }

    .hero-content {
        background-size: contain;
        height: 30rem;
    }

    .hero-logo {
        display: block;
        margin: 0 auto;
        width: 100px;
        padding-top: 5%;
    }

    .hero-content-h1 {
        padding: 0 15%;
        padding-top: 1rem;
    }

    .hero-content-p {
        padding: 1% 25%;
    }

    .hero-spacemail,
    .hero-spaceman {
        bottom: 5%;
    }

    .hero-spacemail {
        left: 10%;
        width: 18%;
    }

    .hero-spaceman {
        right: 10%;
        width: 18%;
    }

    .btn {
        padding: 1rem 2rem;
    }

    // What We Do 1238px

    .what-content-h2 {
        font-size: 1.5rem;
    }

    .what-content-p {
        font-size: 1rem;
    }

    .jobs-box {
        position: relative;
        width: 300px;
        height: 375px;
        margin: 20px auto;
        border-radius: 50% / 10%;
        color: $themeWhite;
        text-align: center;
        text-indent: .1em;
        z-index: -1;
      }
    
      .jobs-box:before {
        content: '';
        position: absolute;
        top: 9%;
        bottom: 9%;
        right: -5%;
        left: -5%;
        background: inherit;
        border-radius: 5% / 50%;
        z-index: -1;
      }
    
    .jobs-img {
        margin-top: 1rem;
        width: 200px;
    }

    // Testimonial Section 1238px
    .quote1 {
        width: 60px;
        left: 15%;
        bottom: 60%;
    }
    
    .quote2 {
        width: 60px;
        right: 15%;
        bottom: 15%;
    }
}

@media screen and (min-width: 1660px) {
    .quote1 {
        width: 60px;
        left: 25%;
        bottom: 60%;
    }
    
    .quote2 {
        width: 60px;
        right: 25%;
        bottom: 15%;
    }
}

@media screen and (min-width: 2440px) {
    .hero-content-p {
        padding: 1% 25%;
    }

    .quote1 {
        width: 60px;
        left: 32%;
        bottom: 60%;
    }
    
    .quote2 {
        width: 60px;
        right: 32%;
        bottom: 15%;
    }
}