

/////////// CSS DIRECTORY /////////////
// 1a. Color Theme Variables
// 2a. Imports
// 3a. Universal Styles
// 4a. Mobile Responsive Styles
// 


// 1a. Color Theme Variables
$themeDarkAqua: #1a535c;
$themeLightAqua: #4ecdc4;
$themeWhite: #f7fff7;
$themeRed: #ff6b6b;
$themeOj: #ff914d;
$themeYellow: #ffe66d;

// 2a. Imports
// Hamburger CSS

$hamburger-layer-color: $themeWhite !default;
@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

// 3a. Universal Styles

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

// Font - Fira 300,400,500,700
h1, h2, h3, h4, h5, h6, p, a, span, div {
    font-family: 'Fira Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

////////// 4a. MOBILE RESPONSIVE STYLES ////////////

// Navbar
header {
    background: $themeOj;
}

.main-nav, .hero-section {
    padding: 1rem;
    text-align: center;
}

.nav-logo {
    display: flex;
    flex-direction: column;
}

.nav-logo img {
    width: 50px;
}

.logo-link {
    color: $themeWhite;
    text-transform: uppercase;
    font-family: 'Crushed', cursive;
    font-size: 2rem;
}

.nav-flex-container {
    display: none;
    flex-direction: column;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: $themeWhite;
    font-size: 1.25rem;
    padding: 5px 0;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    background: $themeRed;
}


// Hero Section
// .hero-content {
//     background-image: url("../../public/assets/img/Hero_Background_Mobile.png");
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-position: center;
//     height: 50vh;
//     width: 95vw;
// }

.hero-content-h1, .hero-content-p {
    margin: 0 3rem;
}

.hero-content-h1 {
    color: $themeDarkAqua;
    padding-top: 1rem;
}

.hero-content-p {
    padding-top: 1rem;
}


.hero-logo {
    display: none;
}

.hero-mobile {
    width: 80%;
}

.btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    margin: 2rem .5rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
}

.red {
    background-color: #f13f3f;
    color: $themeWhite;
    transition: all 0.3s ease-in-out;
}

.red:hover {
    background-color: #922424;
}

.yellow {
    background-color: $themeYellow;
    color: #404040;
    transition: all 0.5s ease-in-out;
}

.yellow:hover {
    background-color: #a89745;
    color: $themeWhite;
}

.rocket {
    width: 95%;
}
  



